<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{shop.name}} - {{page_title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="">
	  <meta name="robots" content="index,follow"/>
	  <meta name="description" content="">		  
		<!-- Facebook Open Graph -->
		
		{% if template=="product" %}
		<meta property="og:title" content="{{ product.title }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ product.url }}" />
    <meta property="og:image" content="{{ product.featured_image }}" />
    <meta property="og:site_name" content="{{ shop.name | escape }}" />
    {% endif %}
		<!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	  {{ content_for_header }}
	  <!-- Stylesheets -->
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'skeleton.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="{{ 'print.css' | asset_url}}" type="text/css" media="print">	
    <!--[if lt IE 8]>{{ 'ie.css' | asset_url | stylesheet_tag }}<![endif]-->
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      jQuery.noConflict();
    </script>
    {{ 'option_selection.js' | asset_url | script_tag }}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="page-{{template}}">
    <div class="container">
      <div id="header_wrapper" class="sixteen columns">
        <div id="header_photography">
          <img src="{{ 'photography.png' | asset_url}} ">
        </div>
        <div class="row">  
          <header>
            <nav id="main_menu" class="ten columns alpha">
              <ul class="nav">
                {% for link in linklists.main-menu.links %}{% assign current = false %}
                  {% if template == 'index' and link.url == '/' %}
                    {% assign current = true %}
                  {% elsif collection.url == link.url %}
                    {% assign current = true %}
                  {% elsif blog.url == link.url %}
                    {% assign current = true %}
                  {% elsif page.url == link.url %}
                    {% assign current = true %}
                  {% elsif page_title == link.title %}
                    {% assign current = true %}
                  {% elsif template == 'list-collections' and link.url == '/collections' %}
                    {% assign current = true %}
                  {% elsif page_title == 'Products' and link.url == '/collections/all' %}
                    {% assign current = true %}
                  {% elsif template == 'article' and link.url == article.url %}
                    {% assign current = true %}{% endif %}
                  <!-- {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %} -->
                  <li {% if forloop.first %}class="first"{% endif %} {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}class="dropdown" data-dropdown="dropdown"{% endif %}>
                      <a class="{% if current %}active{% endif %}{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %} dropdown-toggle{% endif %}" href="{{ link.url }}">{{ link.title }}</a>        
                      <!-- {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
                                            <ul class="dropdown-menu">
                                              {% for l in linklists[child_list_handle].links %}
                                              <li><a href="{{ l.url }}">{{ l.title }}</a></li>
                                              {% endfor %}
                                            </ul>
                                            {% endif %} -->
                    </li>
                  {% endfor %}
              </ul>
            </nav>      
            <div class="six columns omega" id="contact_info">
              <a href="tel:18883216237" class="phone_link">1.888.321.6237</a> |
              <a href="mailto:support@phototheme.com?subject=hi" class="email_link">support@phototheme.com</a>
            </div><!-- .contact_info -->
          </header>
        </div><!-- .row -->
      </div><!-- header_wrapper -->
      <div id="main_wrapper" class="sixteen columns">
	
	      {{ content_for_layout }}
	      
      </div><!-- main_wrapper -->  
      <footer class="sixteen columns clearfix">
        <nav>
          <ul id="footer_nav">
            {% for link in linklists.footer.links %}
            <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <div id="copyright">&copy; {{ shop.name | escape }} {{ 'now' | date: "%Y" }}</div>
      </footer>
    </div><!-- container -->
  </body>
</html>


