<div id="main" class="span-46 last">

{% paginate blog.articles by 3 %}

  {% for article in blog.articles %}

  <div class="blog prepend-1 span-44 append-1">
    <div class="title"><a href="{{article.url}}" class="white_link">{{ article.title }}</a></div>
    <div class="date cyan_text">{{ article.created_at | date: "%B %d, %Y" }}</div>
    <div class="content grey_text">
      <p>{{ article.content | strip_html | truncate: 250 }}</p>
    	<a href="{{ article.url }}" class="read_more cyan_link">Read More...</a>
    </div>
  </div>

  <div class="blog_separator span-44">&nbsp;</div>

  {% endfor %}

  <div class="pagination prepend-38 span-8">
    {% if paginate.previous %}
      {{ "&lt; Previous" | link_to: paginate.previous.url }}
    {% endif %}

    {% for part in paginate.parts %}
      {% if part.is_link %}
        {{ part.title | link_to: part.url }}
      {% else %}
        {{ part.title }}        
      {% endif %}
      {% unless forloop.last %}
        |
      {% endunless %}
    {% endfor %}

    {% if paginate.next %}
      {{ "Next &gt;" | link_to: paginate.next.url }}
    {% endif %}
  </div>

{% endpaginate %}

</div><!-- main -->



