<div id="collections_top" class="sixteen columns">
    <a href="#" id="up_arrow" class="collection_up_link"><img src="{{ 'up_arrow.png' | asset_url }}"></a>
</div>

<div id="main">

  <div id="sidebar" class="two columns alpha">
    <div class="title">
      collections
    </div>
    <ul id="collections">

    {% for collection in collections %}
      {% if collection.title != 'Front Page' %}
        <li><a href="{{collection.url}}" class="grey_link" title="{{collection.title}}">{{collection.title}}</a></li>
      {% endif %}
    {% endfor %}

    </ul>
  </div>

  <div class="fourteen columns omega" id="collections_wrapper">
     <div id="collection_viewer">
      <div id="collection_main_image">
        <a id="main_link" href="{{ collection.products.first.url | within: collection }}">
          <img id="main_img" src="{{ collection.products.first.featured_image | product_img_url: 'grande' }}" width="690" height="690">
        </a>  
        <!-- <div id="collection_info_details">
          Click here for pricing info</a>
        </div> -->
      </div>
      <div id="collection_preview">
        {% for product in collection.products %} 
          <div class="product_image">
            <a href="{{ product.url | within: collection }}" title="{{ product.title }}" class="product_image_preview">
              <img src="{{ product.featured_image | product_img_url: 'grande' }}" height="90" width="90">
            </a>
          </div>
        {% endfor %}
      </div><!-- collection_preview -->
    </div><!-- collection_viewer -->
  </div><!-- collections_wrapper -->

  <div id="collections_bottom" class="sixteen columns clearfix">
    <a href="#" id="down_arrow" class="collection_down_link"><img src="{{ 'down_arrow.png' | asset_url }}"></a>
  </div>

</div><!-- main -->




