<div id="main">

  <div id="index_photo" class="clearfix">
    <img src="{{ 'main_image.jpg' | asset_url }}">
  </div>

  <div id="index_newsletter" class="four columns alpha">
    {% form 'customer' %}
    <div class="title">WANT TO STAY IN TOUCH?</div>
    <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
    <input type="text" id="contact_email" name="contact[email]" placeholder="Email Address...">
    <div id="newsletter_signup">
      <input type='image' src="{{ 'signup.png' | asset_url }}" class="submit" />
    </div>
    {% endform %}
  </div><!-- index_newsletter -->
  
  <div id="index_news">
    <article class="news">
      <section class="image three columns offset-by-one omega"><img src="{{ 'news_photo.jpg' | asset_url }}"></section>
      {% for article in blogs.news.articles limit:1 %}
      <section class="title_section eight columns alpha omega">
        <a href="{{ article.url }}" title="{{ article.title }}">News : <span class="bolder">{{ article.title }}</span></a>
      </section>
      <section class="title_content eight columns alpha omega">{{ article.content }}</section>
      {% endfor %}
    </article>
  </div><!-- index_news -->

</div><!-- main -->

