<div id="main">

  <div id="index_photo" class="clearfix">
    {% for product in collections.front-page.products limit:3 %}
    {% assign index = forloop.index %}
      <div id="front_image_{{ index }}" class="front_image">
        <a href="{{ product.url }}" title="{{ product.title }}"><img src="{{ product.featured_image | product_img_url: 'grande' }}" height="400" width="400"></a>        
      </div>
    {% endfor %}
      
  </div>

  <div id="index_newsletter" class="four columns alpha">
    {% form 'customer' %}
    <div class="bold">WANT TO STAY IN TOUCH?</div>
    <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
    <input type="text" id="contact_email" name="contact[email]" placeholder="Email Address...">
    <div id="newsletter_signup">
      <input type='image' src="{{ 'signup.png' | asset_url }}" class="submit" />
    </div>
    {% if form.errors %}
    <div id="signup_errors">
      <p class="error-msg">
      <ul class="error-list">
      {% for field in form.errors %}
        <li>{{ field }} - {{ form.errors.messages[field] }}</li>
      {% endfor %}
      </ul>
    </p>
    </div>
    {% endif %}
    {% endform %}
  </div><!-- index_newsletter -->
  
  <div id="index_news">
    <article class="news">
      <section class="image three columns offset-by-one omega"><img src="{{ 'news_photo.jpg' | asset_url }}"></section>
      {% for article in blogs.news.articles limit:1 %}
      <section class="title_section eight columns alpha omega">
        <a href="{{ article.url }}" title="{{ article.title }}">News : <span class="bolder">{{ article.title }}</span></a>
      </section>
      <section class="title_content eight columns alpha omega">{{ article.content | strip_html | truncate: 250 }}</section>
      {% endfor %}
    </article>
  </div><!-- index_news -->

</div><!-- main -->

