<div id="main" class="sixteen columns">


  <div id="sidebar" class="two columns alpha">
    <div class="title">
      collections
    </div>
    <ul id="collections">
  
      {% for collection in collections %}
        {% if collection.title != 'Front Page' %}
          <li><a href="{{collection.url}}" class="grey_link" title="{{collection.title}}">{{collection.title}}</a></li>
        {% endif %}
      {% endfor %}
  
    </ul>
  </div>


  <div id="product_top_info" class="fourteen columns omega">
  
    <div id="product_main_image" class="span-18">
      <img id="main_image" src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{product.title | escape }}" height="345" width="345">
    </div>
    <div id="product_details">
      <div class="add_to_cart">
        <div class="product_title"><h1>{{ product.title }}</h1></div>
        <div class="product_price">{{ product.price_min | money }}{% if product.price_varies %} - {{ product.price_max | money }}{% endif %}</div>
        <div class="title cyan_text">choose your style options</div>

        <form id="options_form" method="post" action="/cart/add">
          {% for variant in product.variants %}
            {% if variant.available %}
              <input type="radio" name="id" value="{{ variant.id }}" /> {{ variant.price | money }} - {{ variant.title }} <br/>
            {% else %}
              <input disabled="disabled" type="radio" name="id" value="{{ variant.id }}" /> {{ variant.price | money }} - {{ variant.title }} - SOLDOUT <br/>
            {% endif %}
          {% endfor %}
          <input type="image" src="{{ 'add_to_cart.jpg' | asset_url }}">
        </form>
      </div><!-- add_to_cart -->
      	
  	  <div id="product_bottom_info" class="span-39 last">
  		  <div class="product_information grey_text span-25 first append-13">
          {{product.description}}
  			</div>
  		</div><!-- product_bottom_info -->
		</div><!-- product_details -->
			<div class="clear">&nbsp;</div>
			<div class="continue_browsing">
  			<a href="{{collection.url}}" class="white_link">Continue browsing this Collection &gt;</a>
			</div>
		</div>



</div><!-- main -->




